
body{
  cursor: url("../images/sub.png"),pointer;
  position: relative;
  width:100%;
  height: 10000px;
}



@keyframes waves {
           0% {
               transform: translate(0px, 0px);
           }
           50% {
               transform: translate(0px, -10px);
           }
           100% {
               transform: translate(0px, 0px);
           }
}

@-webkit-keyframes right {
  from{left: 2500px;}
  to{left:-1000px;}
}
@keyframes right{
  from{left: 2500px;}
  to{left:-1000px;}

}

@-webkit-keyframes left {
  from{left: 0px;}
  to{left:2500px;}
}
@keyframes left{
  from{left: 0px;}
  to{left:2500px;}

}

p{
text-align: center;
font-family: 'Unlock', cursive;
color: white;
font-size: 6;
}

}
div main  {
  align-items:center;
  border:1px solid red;
  top:0px;
  left:0px;
  width:100%;

  position:absolute;
  overflow: hidden;


}

 #counter{
    height:60px;
    width:60px;
    line-height: 30px;
    text-align: center;
    /* border:1px solid blue; */
    border-radius: 30%;
    position: absolute;
    top:0px;
    left:0px;
    color: white;
    font-family: verdana, sans-serif;
    font-weight: 900;
    background-color: #F2E2CF;
    }
#backwave{

 position: absolute;

 width: 100%;
 height:200px;
 top:150px;
 animation: waves 3s infinite;
}
#frontwave{
  position: absolute;

  width: 100%;
  height: 100px;
  top: 270px;
  animation: waves 5s infinite;
}
#ocean{
    position: absolute;

    width: 100%;
    height: 10190px;
    top: 350px;
  }
  #oceanbk{
    display: block;
    overflow: hidden;
      position: absolute;
      width: 100%;
      top: 9980px;
    }
    #fishboat{
      animation: waves 4s infinite;
  position: absolute;
  left:300px;
  top:200px;
}



#serock{
position: absolute;
overflow: hidden;
  left: 800px;
  top: 9950px;
  height: 300px;
  width: 500px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
/*need corrected*/
div#fish1{
  position: fixed;

  top: 380px;

-webkit-animation: left 10s infinite;
}
div#fs1{
  position: fixed;
  top: 420px;
-webkit-animation: left 7s infinite;
}
div#fish2{
  position: fixed;

width: 300px;
  top: 450px;
-webkit-animation: left 10s infinite;
}
div#fs2{
  position: fixed;

width: 400px;
  top: 480px;
-webkit-animation: left 8s infinite;
}

div#fish3{
  position: fixed;

  top: 500px;
-webkit-animation: right 10s infinite;
}
div#fs3{
  position: fixed;

  width: 400px;
  top: 600px;
-webkit-animation: left 6s infinite;
}

div#fs4{
position: fixed;

width: 400px;
top: 500px;
-webkit-animation: right 6s infinite;
}

div#whale{
  width: 600px;

  position: fixed;

  top: 300px;
  -webkit-animation: left 10s infinite;}

  div#seamonster{
position: fixed;

top: 400px;
-webkit-animation: right 10s infinite;}
  }
  #bubbles{

}


div#bubble2{
  text-align: center;
  width:100px;
  height:100px;
  border-radius: 50%;
  opacity: 0.3;
  position:fixed;
  left: 100px;
  top: 500px;
  background: blue;
  -webkit-transition: width 3s, height 3s;
  animation: waves 2s infinite;
  transition: 4s;
}
div#bubble2:hover{
  background-color: red;
  width:300px;
  height:300px;
font-family: 'Black And White Picture', sans-serif;
font-size: 50px;
}
div#bubble3{
  text-align: center;
  width:100px;
  height:100px;
  border-radius: 50%;
  opacity: 0.3;
  position:fixed;
  left: 200px;
  top: 400px;
  background: blue;
  -webkit-transition: width 3s, height 3s;
  animation: waves 2s infinite;
  transition: 4s;
}
div#bubble3:hover{
  background-color: green;
  width:300px;
  height:300px;
font-family: 'Black And White Picture', sans-serif;
font-size: 50px;
}

  div#bubble4{

    text-align: center;
    width:100px;
    height:100px;
    border-radius: 50%;
    opacity: 0.3;
    position:fixed;
    left:550px;
    top: 450px;
    background: blue;
    -webkit-transition: width 3s, height 3s;
    animation: waves 2s infinite;
    transition: 4s;
  }
  div#bubble4:hover{
    background-color: black;
    width:300px;
    height:300px;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 50px;
  }

  div#bubble5{
    background-color: purple;
    text-align: center;
    width:100px;
    height:100px;
    border-radius: 50%;
    opacity: 0.3;
    position:fixed;
    left: 900px;
    top: 550px;
    background: blue;
    -webkit-transition: width 3s, height 3s;
    animation: waves 2s infinite;
    transition: 4s;
  }
  div#bubble5:hover{
    width:400px;
    height:400px;
    font-size: 50px;}

    div#bubble6{
      background-color: purple;
      text-align: center;
      width:100px;
      height:100px;
      border-radius: 50%;
      opacity: 0.3;
      position:fixed;
      left: 980px;
      top: 380px;
      background: blue;
      -webkit-transition: width 3s, height 3s;
      animation: waves 2s infinite;
      transition: 4s;
    }
    div#bubble6:hover{
      width:400px;
      height:400px;
    font-size: 50px;}


form:hover{
  font-size: 30px;
  font-family: 'Unlock', cursive;
  color: red;
  width:300px;
  height:300px;
}
#text{
color: white;
font-size: 30px;
font-family: 'Unlock', cursive;
}
form{
  text-align: center;
  width:100px;
  height:100px;
  border-radius: 70%;
  opacity: 0.8;
  position:absolute;
  left: 700px;
  top: 9700px;
  background: blue;
  -webkit-transition: width 3s, height 3s;
  animation: waves 4s infinite;
  transition: 3s;
}
#pw {margin:10px 10px;}
/*end password*/
